// About vuepress-plugin-element-tabs
.content__default
  .el-tabs
    &--border-card
      border none
      box-shadow var(--box-shadow)
      background-color var(--background-color-block)
      .el-tabs__header
        color var(--text-color)
        background-color $accentColor
        border none
        .el-tabs__item
          color var(--text-color)
          border none
          &:hover
            background-color var(--background-color-block)
          &.is-active
            color var(--text-color)
            background-color var(--background-color-block)